.a-snake-body {
    background-color: #386994;
    border: .25vmin solid black;
}

.b-snake-body {
    background-color: #f55733;
    border: .25vmin solid black;
}

.general-expand-food {
    background-color: #ffa000;
    border: .25vmin solid black;
    border-radius: 999em;
}

.mega-expand-food {
    background-color: #14a343;
    border: .25vmin solid black;
    border-radius: 999em;
}

.double-fast-food {
    background-color: #571bbf;
    border: .25vmin solid black;
    border-radius: 999em;
}

.food {
    background-color: #e60ecc;
    border: .25vmin solid black;
    border-radius: 999em;
}
